.climate-div {
    border: 1px solid #ddd;
    border-radius: 15px;
    display: flex;
    background-color: white;
    padding: 30px 30px;
}

.risk-div {
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.summary-div {
    flex: 4;
}

.lx {
    display: flex;
}

.radio-div {
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background-color: #a3c74f;
    border: none;
}

.align-center {
    align-items: center;
    column-gap: 0.1rem;
}

.relative-span {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.overal-span {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
}

.c-g-s {
    column-gap: 0.5rem;
}

#acrdn_panel_9 {
    background-color: white;
}

#env-parent {
    padding-left: 0px;
}

#acrdn_header_6 {
    background-color: #f0eeff;
}

.plunk-parent {
    width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 30px 30px;
    background-color: #eee;
}

.plunk-comp {
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    row-gap: 0.75rem;
    overflow: hidden;
}

.plunk-comp-header {
    color: #2d78ff;
    font-size: 30px;
}

.plunk-comp-des {
    color: rgb(100, 102, 102);
    font-size: 20px;
    text-align: center;
}

.plunk-comp-main {
    background-color: white;
    overflow: hidden;
    width: 80%;
    padding: 15px 10px;
    row-gap: 1.5rem;
}

.plunk-comp-main1 {
    row-gap: 0.5rem;
}

.plunk-value-title {
    font-size: 18px;
}

.lx {
    display: flex;
}

.compare-home-group-part {
    column-gap: 0.1rem !important;
}

.column-gap-small {
    column-gap: 0.5rem;
}

.thumb_p6OvR {
    width: 20px;
}

.value-price-big {
    font-size: 40px;
}

.value-price-small {
    font-size: 28px;
}

.value-day {
    font-size: 24px;
}

.accuracy-btn {
    padding: 10px 15px;
    font-size: 22px;
}

.small-logo {
    width: 80px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-xs {
    font-size: 8px;
}

.parent-spec-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remodel-bar-parent {
    width: 40px;
    height: 10px;
}

.remodel-bar-part {
    width: 35px;
    height: 52px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.remodel-comp {
    text-align: right;
    padding-right: 5px;
    justify-content: space-between;
}

.remodel-comp-price {
    font-size: 20px;
}

.big-accuracy-btn {
    font-size: 26px;
    padding: 10px 15px;
}

.h-313 {
    height: 313px;
}

.compare-91436 {
    font-size: 16px;
    font-weight: 700;
}

.bar-next-div {
    justify-content: space-evenly;
}

.bar-next-div-span {
    font-size: 14px;
}

.space-between {
    justify-content: space-between;
}

.end {
    justify-content: end;
}

.lx-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.font-size-s {
    font-size: 10px;
}

.font-size-normal {
    font-size: 14px;
}

.h-328 {
    height: 328px;
}

.bb-gray {
    border-bottom: 1px solid lightgray;
}

.pb-10 {
    padding-bottom: 10px;
}

.over-hidden {
    overflow: hidden;
}

.bedroom-group {
    row-gap: 0.3rem;
}

.font-size-big {
    font-size: 24px;
}

.color-spec {
    color: #0e446d;
}

.color-green {
    color: #008c60;
}

.font-weight-normal {
    font-weight: 600;
}

.bgcolor-lightblue {
    color: #87b3fa;
}

.bgcolor-blue {
    color: #2d78ff;
}

.color-white {
    color: white;
}

.accuracy-btn {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #87b3fa;
}

.w-100 {
    width: 100%;
}

.big-accuracy-btn {
    background-color: #2d78ff;
    border: none;
    border-radius: 8px;
    margin: 10px 0px;
    color: white;
}

.color-lightspec {
    color: #809caf;
}

.bg-gray {
    background-color: #ddd;
}

.bg-blue {
    background-color: #2d78ff;
}

.remodel-comp {
    background-color: #b6f0df;
}

.remodel-bar-parent {
    background-color: #00805a;
}

.remodel-bar-part {
    background-color: #00d89c;
}

.lx-2 {
    flex: 2;
}

.lx-1 {
    flex: 1;
}

.right {
    text-align: right;
}

.compare-chart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-container {
    width: 95%;
}

.canvas-status-div {
    column-gap: 0.5rem;
}

.canvas-part {
    border-bottom: 1px solid #ddd;
}

.color-blue {
    color: blue;
    font-weight: 600;
}

.color-red {
    color: red;
}

.color-gray {
    color: gray;
}

.end-pro-span {
    font-size: 16px;
    font-weight: 600;
}

.gray-radio-div {
    width: 10px;
    height: 10px;
    border: none;
    background-color: #eee;
    border-radius: 999px;
}

.check-div {
    width: 14px;
    height: 14px;
}

@media screen and (max-width: 1660px) {
    .plunk-parent {
        width: 800px;
    }

    .market-insight-des {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .market-insight-btn {
        font-size: 22px;
    }

    .remodel-des {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .remodel-btn {
        font-size: 22px;
    }

    .linechart-container-custom {
        column-gap: 0rem !important;
    }

    #my-canvas {
        width: 140px !important;
    }

    #my-canvas1 {
        width: 140px !important;
    }

    #my-canvas2 {
        width: 140px !important;
    }
}

@media screen and (max-width: 1366px) {
    .plunk-parent {
        width: 95%;
    }
}

@media screen and (max-width: 1281px) {
    .plunk-parent {
        flex-direction: column;
        align-items: center;
    }

    .plunk-comp {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .css-1o42tkx {
        padding: 10px !important;
    }

    .css-gg4vpm {
        display: flex;
        flex-direction: column;
    }

    .css-1afcqb7 {
        width: 100%;
        text-align: center;
    }

    #numberpart1 {
        font-size: 20px;
    }

    #numberpart {
        font-size: 20px;
        color: white;
    }

    #plunk-remodal {
        text-align: center;
    }

    #plunk-remodal-container {
        text-align: center;
    }

    .css-126n10b {
        display: none;
    }

    .css-1kfvdq9-MuiTable-root {
        min-width: 180px;
    }



    .css-10vg0a6-MuiResponsiveChart-container {
        width: 200px !important;
        height: 200px !important;
    }

    .css-rccht4 {
        width: 200px;
        height: 200px;
    }

    .checkdiv {
        width: 10px;
        height: 10px;
        border: none;
    }

    .plunk-comp {
        width: 100%;
    }

    .chart-container {
        width: 220px;
        height: 220px;
        transform: scale3d(1, 1.3, 1.4);
        margin-top: 30px;
    }
}

@media screen and (max-width: 640px) {
    .plunk-parent {
        padding: 10px 5px;
    }

    #my-canvas {
        width: 100px !important;
    }

    #my-canvas1 {
        width: 100px !important;
    }

    #my-canvas2 {
        width: 100px !important;
    }
}

@media screen and (max-width: 500px) {
    .plunk-comp-header {
        font-size: 16px;
    }

    .plunk-comp-des {
        font-size: 14px;
    }

    .e-acrdn-content {
        padding: 10px 2px !important;
    }

    .plunk-value-title {
        font-size: 14px;
    }

    .value-price-big {
        font-size: 22px;
    }

    .value-price-small {
        font-size: 18px;
    }

    .value-day {
        font-size: 16px;
    }

    .accuracy-btn {
        font-size: 16px;
        padding: 5px 10px;
    }

    .small-logo {
        width: 50px;
    }

    .big-accuracy-btn {
        font-size: 20px;
        padding: 10px 15px;
    }

    .plunk-comp-main {
        width: 100%;
        padding: 2px;
    }

    .chart-container {
        width: 180px;
    }

    .remodel-comp {
        flex: 1;
    }

    .bar-next-div-span {
        flex: 1;
        font-size: 12px;
    }

    .hidden-span {
        display: none;
    }

    .canvas-start-pro-div {
        font-size: 10px;
    }

    .end-pro-span {
        font-size: 14px;
    }
}